
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px; 
    background-color: #000;
    border-bottom: 2px solid #330000; 
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo-text span {
    color: #FF0000; 
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a.active {
    color: #FF0000; 
}

.nav-links a:hover {
    color: #FF4D4D; 
}

.nav-auth {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-link {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.signup-btn {
    text-decoration: none;
    background-color: #FF0000;
    color: #fff;
    padding: 10px 22px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.signup-btn:hover {
    background-color: #8B0000; 
}



.hero {
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}


.hero::after {
    content: '';
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    background: linear-gradient(to right, #000 15%, transparent 100%);
}

.hero-content {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.hero-details { max-width: 50%; }

.hero-details h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 800;
}

.hero-details p {
    font-size: 1.1rem;
    color: #ddd;
    line-height: 1.5;
    margin-bottom: 30px;
}

.btn-watch {
    background: #a02e2e; 
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.hero-poster-container { position: relative; }

.hero-poster-container img {
    width: 280px;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.3);
}

.rating-badge {
    position: absolute;
    bottom: 20px; left: -15px;
    background: rgba(0,0,0,0.8);
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 8px;
}